*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
}

/* body{
    display: flex;
    justify-content: center;
} */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-list li{
    list-style: none;
}

.todo-list label{
    margin: 0px;
}

.todo-list button {
    margin: 10px;
}