*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
}

body{
    display: flex;
    justify-content: center;
}

.todo-list li{
    list-style: none;
}